<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="https://kit.fontawesome.com/72d881ae9e.js" crossorigin="anonymous"></script>
        <script src="static/scripts.js"></script>

        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>
        <header>
            <h1>My website</h1>
            {% block header %}
            <h6>Default title</h6>
            {% endblock %}
        </header>

        <nav>
            <ul>
                {% for page in nav_items %}
                    <li class="nav-item">
                        <a href ="{{ page.url }}">{{ page.name }}</a>
                    </li>
                {% endfor %}
                <button onclick="collapse()"><i class="fas fa-bars"></i></button>
            </ul>
        </nav>

        <main>{% block main %}

        {% endblock %}</main>

        <footer>
            <div id="top-footer">
                <div id="footer-links">
                    <ul>
                        {% for items in sites %}
                            <li>
                                <a href="{{ items.url }}">{{ items.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </footer>

    </body>
</html>