{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block header %}{{ page_title }}{% endblock %}

{% block main %}
    <div class="collect_item">
        <h2>Coins</h2>
    </div>

    <div class="collect_item">
        <h2>Patches</h2>
    </div>

    <div class="collect_item">
        <h2>Unigrid Maps/pins</h2>
        <p>Every national park site I go to I get a map and pin</p>
        <p>
            This is the pins<br>
            There are XX pins
        </p>
        <div id="maps">
            <h3>These are all my maps</h3>
            <ol>
                {% for map in maps %}
                    <li>
                        <b>{{ map.name }}</b> : {{ map.site_type }} : {{ map.state }}
                    </li>
                {% endfor %}
            </ol>
        </div>
    </div>

    <div class="collect_item">
        <h2>MTG cards</h2>

        <p>
            These are some of my favorite magic cards<br>
            The cards coressponding set list is:
        </p>
        <ul id="mtg">
            {% for card in cards %}
            <li>
                <img class="card_image" src="{{ url_for('static', filename='images/mtg_cards/' + card.img) }}" alt="Magic the gathering's card {{ card.name }} from the {{ card.set }} set">
                <p>{{ card.name }} : {{ card.set }}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
