{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block header %}{{ page_title }}{% endblock %}

{% block main %}
    <div id="home_con">
        <h4>This is my home page</h4>
        <p>This webpage has info about stuff that I just like</p>
        <a href="#notbugs">
            <img id="herc" src="static/images/hercbeetle.jpg" alt="a hercules beetle">
        </a>
        <p>I like this beetle</p>

        <table>
            <tr>
                <th rowspan="2">There are many types of beetles</th>
                <th colspan="2">I like hercules beetle</th>
            </tr>
            <tr>
                <th>I dont like beetles in my house</th>
                <th>I like beetles that are not in my house</th>
            </tr>
            <tr>
                <td>I</td>
                <td>Like</td>
                <td>Beetles</td>
            </tr>
            <tr>
                <td colspan="3">Especially the hercules beetle</td>
            </tr>
        </table>
        <table id="notbugs">
            <caption>Things that are not beetles</caption>
            <tr>
                <th>Alive</th>
                <th>Wood</th>
                <th>Ocean</th>
                <th>Ahhh</th>
            </tr>
            <tr>
                <td>Birb</td>
                <td>Chair</td>
                <td>Alantic</td>
                <td>The power of shadows</td>
            </tr>
            <tr>
                <td>You</td>
                <td>Mahogany Table</td>
                <td>Alantic</td>
                <td>A DVD boxset of the Crown</td>
            </tr>
            <tr>
                <td>Beetles</td>
                <td>Bridge</td>
                <td>Titan Submersiable</td>
                <td>King Gizzard and the Lizard Wizard</td>
            </tr>
            <tr>
                <td>The mold in the basement</td>
                <td>Witches</td>
                <td>Alantic</td>
                <td>Mr. World Wide, Mr. 305</td>
            </tr>
        </table>
        <div id="form">
            <form>
                <div class="button">
                    <label for="radio">Are you human?</label>
                    <input type="radio" name="radio" required>
                </div>
                <label for="text">Justify why you are human</label>
                <input type="text" name="text" required>
                <label for="selector">Current human state</label>
                <select name="selector">
                    <option value="" >Choose something</option>
                    <option value="1">On the ceiling</option>
                    <option value="2">Under a brudge</option>
                    <option value="3">*bridge</option>
                    <option value="4">Understanding the power of shadows</option>
                    <option value="5">Scared</option>
                </select>
                <div class="button">
                    <label for="check">I feel human</label>
                    <input name="check" type="checkbox">
                </div>
                <input type="submit" name="submit">
            </form>
        </div>        
    </div>
{% endblock %}