{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block header %}{{ page_title }}{% endblock %}

{% block main %}
    <div class="consumed-media">
        <h1>Movies</h1>
        <div class="top3">
            <h2>Top 3 Movies</h2>
            <ul>
                <li>
                    <div class="spef_movie">
                        <img src="static/images/holy-grail.jpg" alt="file poster of the moive Monty Python and the Holy Grail">
                        <br><small>Monty Python and the Holy Grail 1975</small>
                    </div>
                </li>
                <li>
                    <div class="spef_movie">
                        <img src="static/images/iron-giant.jpg" alt="file poster of the moive the Iron Giant">
                        <br><small>The Iron Giant 1999</small>
                </li>
                <li>
                    <div class="spef_movie">
                        <img src="static/images/good-will.jpg" alt="Good Will Hunting movie poster">
                        <br><small>Good Will Hunting 1997</small>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="consumed-media">
        <h1>TV shows</h1>
        <div class="top3">
            <h2>Top 3 TV Shows</h2>
            <ul>
                <li>
                    <div class="spef_movie">
                        <img src="static/images/onePiece.jpg" alt="one piece art from egghead arc">
                        <small>One piece (egghead arc)</small>
                    </div>
                </li>
                <li>
                    <div class="spef_movie">
                        <img src="static/images/community.jpg" alt="tv show community poster">
                        <small>Community</small>
                    </div>
                </li>
                <li>
                    <div class="spef_movie">
                        <img src="static/images/sg1.jpg" alt="art from the tv show star gate sg1">
                        <small>Star Gate SG1</small>
                    </div>
                </li>
            </ul>
        </div>
        <h2>All tv shows I have watched</h2>
        <h6>In no paticular order</h6>            
            <div id="all-shows">
                <ul>
                    {% for show in all_shows %}
                        <li>
                            {{ show.title }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
    </div>
{% endblock %}