{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block header %}{{ page_title }}{% endblock %}

{% block main %}
    <div id="nat_sites">
        <h3>Map of all national park sites I have been too</h3>
        <div id="nat_sites_map">
            <iframe src="{{ url_for('static', filename='footprint.html') }}" title="a map of national park sites ive visted"></iframe>
        </div>
        <div id="nat_sites_stats">
            <h3>National park sites ive been too stats</h3>
            <ul>
                <li>PLACE HOLDER</li>
            </ul>
        </div>
    </div>

    <div id="states">

    </div>
{% endblock %}