{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block header %}{{ page_title }}{% endblock %}

{% block main %}
    <div id="nat_sites">
        <h3>Map of all national park sites I have been too</h3>
        <div id="nat_sites_map">
            <iframe src="{{ url_for('static', filename='footprint.html') }}" title="a map of national park sites ive visted"></iframe>
        </div>
        <div id="nat_sites_stats">
            <h3>National Park Sites I've Been to</h3>
            <ul id="all_parks">
                {% for park in parks %}
                    <li>
                        {{ park.name }} : {{ park.disp }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div id="states">

    </div>
{% endblock %}